/*-------------------------
    Work Process
-------------------------*/
.process-item {
    --title-font-size: 22px;
    --icon-font-size: 55px;
    --title-margin: 0 0 12px;
    --icon-margin: 0 0 24px;
    --padding-inline-start: 110px;
    position: relative;
    padding-inline-start: var(--padding-inline-start);
    @include prefix(transition, all .3s linear 0ms, webkit moz ms o);

    &:before {
        content: "\e968";
        font-family: var(--font-icons);
        position: absolute;
        top: 0;
        left: 0;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        border-radius: 50%;
        color: var(--color-secondary);
        border: 2px solid var(--color-secondary);
        @include prefix(transition, all .3s linear 0ms, webkit moz ms o);
    }

    &:after {
        content: '';
        position: absolute;
        top: 44px;
        left: 16px;
        bottom: 0;
        width: 2px;
        background-color: var(--color-secondary);
    }

    .process-icon {
        font-size: var(--icon-font-size);
        color: var(--color-secondary);
        margin: var(--icon-margin);
        line-height: 1;
    }

    .process-title {
        font-size: var(--title-font-size);
        margin: var(--title-margin);
    }
}

.swiper-slide-active .process-item:before {
    color: var(--color-white);
    background-color: var(--color-secondary);
}

/* Mobile Phones and tablets */
@include responsive(sm) {
    .process-item {
        --title-font-size: 18px;
        --icon-font-size: 45px;
        --title-margin: 0 0 8px;
        --icon-margin: 0 0 14px;
        --padding-inline-start: 60px;
    }
}