// Sass Variables
$color-primary: #fe5b2c;
$color-secondary: #222222;
$color-primary-rgb: 254, 91, 44;
$color-secondary-rgb: 34, 34, 34;
$color-accent: #00226c;
$color-default: #9b9b9b;
$color-dark: #161616;
$color-black: #000000;
$color-gray: #f9f9f9;
$color-white: #ffffff;
$color-light: #6d6fb3;

$font-primary: 'DM Sans', sans-serif;
$font-secondary: 'Unbounded', sans-serif;